################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HiveRPCHelper/obj/Debug
/packages
/HiveRPCHelper/bin/Release
/HiveRPCHelper/obj/Release
